.chess {
  display: flex;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 30rem;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  margin: 0.25rem 0 1rem;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img.piece {
  z-index: 1;
}

.square.last_move::after,
.square.check::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.square.last_move::after {
  background-color: #d7e20ba2;
}

.square.check::after {
  background-color: #e20b0ba2;
}

.highlight-dot {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: #000000af;
  z-index: 2;
  pointer-events: none;
}
